.dark-bg {
    background-color: var(--bg-black);
    color: var(--bg-lighter);
}
.dark-bg::selection {
    background-color: var(--bg-lighter);
    color: var(--bg-black);
}
.gap-above {
    margin-top: 8px;
}

.default-notice {
    margin: 1em;
    color: var(--bg-black);
    text-align: center;
}

#configure-panel h2 {
    margin: 0.25em 0.3em;
}

#configure-panel h3 {
    margin: 0.5em 0.3em 0.25em;
}
#configure-panel h3::before {
    color: var(--bg-dark);
    content: '- '
}
#configure-panel h3::after {
    color: var(--bg-dark);
    content: ' -'
}

.config-option {
    position: relative;
    border-radius: 3px;
    background-color: var(--bg);
    margin: calc(var(--border-size) * 2);
    padding: 8px;
}
.option-dropdown {
    display: none;
}
.option-dropdown-label {
    width: 90%;
    margin-left: 1.2rem;
    display: flex;
    justify-content: space-between;
    text-wrap: wrap;
}
.option-dropdown-label:hover {
    cursor: pointer;
}
.option-dropdown-label > div {
    display: inline-block;
    word-wrap: anywhere;
}
.option-dropdown-contents {
    border-radius: 3px;
    background-color: var(--bg-dark);
    visibility: hidden;
    opacity: 0;
    padding: 0 8px;
    margin: 0 8px;
    max-height: 0;
    transition: max-height 0.2s, padding 0.2s, margin 0.2s, visibility 0.2s, opacity 0.2s;
}
.option-dropdown:checked ~ .option-dropdown-contents {
    visibility: visible;
    opacity: 1;
    padding: 8px;
    margin: 8px;
    max-height: 500px;
}
.option-dropdown ~ .option-dropdown-label::before {
    content: '\25B6';
    position: absolute;
    margin-left: -1.2rem;
}
.option-dropdown:checked ~ .option-dropdown-label::before {
    content: '\25BC';
}
.info-3 {
    width: 28%;
}

.option-form {
    display: block;
}
.option-form > input, select, button[type=submit] {
    display: block;
    padding: 4px;
    max-width: 100%;
    border: none;
    border-radius: 2px;
    background-color: var(--bg-lighter);
}
.option-form > input[type=text] {
    width: 15em;
}
.option-form > input[type=number] {
    width: 5em;
}
.option-form > button[type=submit] {
    margin-top: 8px;
}

.config-table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    border-spacing: 0;
}
.config-option th, td {
    border: none;
}
.config-table th {
    text-align: left;
    text-wrap: wrap;
    word-wrap: break-word;
    max-width: min-content;
    border-bottom: 2px solid;
}
.config-table td {
    text-align: left;
    text-wrap: wrap;
    word-wrap: break-word;
}
.config-table img {
    max-width: 100%;
}
.config-table button {
    border: none;
}

.config-terminal {
    border-radius: 3px;
    height: 10em;
    padding: 4px;
    overflow-y: scroll;
    text-wrap: wrap;
    word-wrap: break-word;
}

.packet-type {
    font-weight: 600;
}
.packet-from::before {
    content: 'From: ';
    display: inline-block;
    width: 3em;
}
.packet-to::before {
    content: 'To: ';
    display: inline-block;
    width: 3em;
}
.packet-description {
    border-top: 2px dashed var(--bg-black);
    padding: 2px 3px;
    margin-top: 5px;
}

.arp-label {
    color: #fff125;
}
.icmp-label {
    color: #3d3dee;
}

#frame-selectors {
    margin: 0.25em 0.3em;
}

.arp-frame,
.icmp-frame {
    display: none;
}
#frame-selectors:has(> #arp-select:checked) ~ .arp-frame,
#frame-selectors:has(> #icmp-select:checked) ~ .icmp-frame {
    display: block;
}