@import url('layout.css');
@import url('configure.css');

:root {
    --border-size: min(2px,0.5vmin);
    --transition: 0.1s;
    --bg-lighter: #e0e6ea;
    --bg-light: #d1cdb7;
    --bg: #afaa91;
    --bg-dark: #989082;
    --bg-black: #27231d;
    --borders: #514e46;
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    font-family: "IBM Plex Sans", sans-serif;
}

::selection {
    background-color: var(--bg-black);
    color: var(--bg-lighter);
}

button {
    background-color: var(--bg);
}
button:hover {
    cursor: pointer;
}

.mono {
    font-family: 'IBM Plex Mono', monospace;
}